.quick {
    background-color: #11749e;
    padding-top: 114px;
    padding-bottom: 157px;
    font-family: 'gothamRegular'; 
    color: white;
    font-size: 15px;
    line-height: 20px;
}

.quick__area {
    margin: auto;
    max-width: 1180px;
    overflow: hidden;
}

.quick__area__actions {
    width: 565px;
    float: left;
    margin: 0 auto;
    img {
        margin-left: 0;
        float: left;
        margin-right: 38px;
    }
}

.float {
    float: right;
}

